ul#repolist {
    max-width: 1800px;
    margin: auto;
}

ul#repolist > li {
    width: 360px;
    float: left;
    height: 36vh;
    margin: 1vh;
}


ul#repolist .carousel-item img,
ul#repolist .carousel-item.active img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    border: 1px solid #eee;
    overflow: hidden;
}


.username.btn {
    width: 100%;
}

ul#repolist div.user a {
    text-decoration: none;
    vertical-align: middle;
}

ul#repolist div.user img {
    height: 4vh;
    position: relative;
    margin-right: 1vh;
    z-index: 0;
    border-radius: 0.25rem;
}

ul#repolist span.commit_count {
    border-radius: 50%;
    color: rgb(13, 110, 253);
    background-color: white;
    padding: 1vh;
}

ul#repolist rect:hover {
    opacity: .6;
    pointer-events: all;
    stroke-width: 2px;
}

ul#repolist span.languages i {
      /* Hide the text. */
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1em;
}

.tooltip-area {
    background-color: white;
    border: 2px solid darkgrey;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
}
