@import url('https://fonts.googleapis.com/css?family=Lato');


ul#repolist {
    max-width: 1800px;
    margin: auto;
}

ul#repolist > li {
    display: block;
    float: left;
    width: 360px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    border-bottom: 0;
} 

ul#repolist .carousel-item.active img {
    height: 30vh !important;
    width: 100%;
    object-fit: cover;
    border: 1px solid #eee;
}

ul#repolist .carousel-item {
        width: 100%;
        height: 30vh;
}


ul#repolist div.histogram svg {
    position: relative;
    top: 5px;
}

ul#repolist ul.images,
ul#repolist ul.images li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#repolist ul.images img {
    width: 320px;
    z-index: 0;
}


ul#repolist div.commit_count {
    font-size: 1.2em;
    color: white;
    font-weight:900;
    padding: 5px 5px 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: relative;
    left: 284px;
    z-index: 20;
    text-align: center;
}

.username.btn {
    width: 100%;
}

ul#repolist div.user a {
    text-decoration: none;
    vertical-align: middle;
}

ul#repolist div.user img {
    height: 40px; 
    position: relative;
    margin-right: 10px;
    z-index: 0;
    border-radius: 0.25rem;
}

ul#repolist rect:hover {
    opacity: .6;
    pointer-events: all;
    stroke-width: 2px;
}

.tooltip-area {
    background-color: white;
    border: 2px solid darkgrey;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
}