<!-- templates/index.html -->
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/underscore@1.13.6/underscore-umd-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" charset="utf-8"></script>
    <script>
      function genHistograms() {
        d3.selectAll(".histogram").each(function(d,i) {
          const grouped = JSON.parse(d3.select(this).attr("data-histogram"));
          const vals = Array.from(Object.values(grouped))
          console.log(vals)
          const svg = d3.select(this).append("svg")
            .attr("viewBox", [0, 0, 300, 100]);
         
          svg
            .append("g")
              .attr("fill", "yellowgreen")
            .selectAll("rect")
            .data(vals)
            .join("rect")
              .attr("x", (d, i) => i*5 - 200)
              .attr("y", (d, i)  => -(d*10 - 100))
              .attr("height", (d, i)  => d * 10)
              .attr("width", "5px");
          
          return this
        });
        
      }
    </script>
  </head>

  <body onload="genHistograms()">

      <ul id="repolist">
        {% for repo in repos %}
        <li>
         
          <div class="stats">
            <div class="commit_count">{{repo.commit_count}}</div>
            <div class="histogram" data-histogram="{{repo.commit_histogram_daily}}"></div>
            <ul class="images">
              {% for imageurl in repo.images %}
              <li><img src="{{imageurl}}" alt="{{repo.description}}" /></li>
              {% endfor %}
            </ul>
           
          </div>

          <div class="user"> 
            <a href="{{repo.repo.html_url}}"><img src="{{repo.avatar}}" alt="{{repo.repo.name}}"/></a>
            <a href="{{repo.repo.html_url}}" class="username">{{repo.user}}</a>
          </div>
          
         
        </li>
        {% endfor %}
      </ul>

    </div>
  </body>
</html>

